<app-productfilters></app-productfilters>


<section class="producttable">
    <div class="container">
        <div class="row mt-5 pt-3 mb-4">
            
            <div class="col-md-12">
                <div class="table-responsive bordergh crochet p-3">
                    <table class="table">
                        <tr>
                            <th>Product</th>
                            <th>Quality</th>
                            <th>Thickness(in)</th>
                            <th>Width(in)</th>
                            <th>Weight(in)</th>
                            <th>PIW</th>
                            <th>Location</th>
                            <th>Coilnumber</th>
                            <th>Action</th>
                        </tr>
                        <tr *ngFor="let elements of ectrogalva">
                            <td routerLink="/steel/details">{{ elements.product }}</td>
                            <td routerLink="/steel/details">{{ elements.quality }}</td>
                            <td routerLink="/steel/details">{{ elements.thickness }}</td>
                            <td routerLink="/steel/details">{{ elements.width }}</td>
                            <td routerLink="/steel/details">{{ elements.weight }}</td>
                            <td routerLink="/steel/details">{{ elements.piw }}</td>
                            <td routerLink="/steel/details">{{ elements.location }}</td>
                            <td routerLink="/steel/details">{{ elements.coilnumber }}</td>
                            <td>
                                <div class="enquiry-btn">
                                    <button (click)=openDialogenquiry() class="btn">Enquiry</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>