<section>
  <div class="container">
    <!-- <div>
            <img class=" mt-5 mx-auto d-block" src="../../../assets/images/eoxs copy.svg">
        </div> -->

    <div class="d-flex justify-content-center">
      <div class="info d-flex justify-content-center">
        <div class="icon mr-2">
          <img src="../../../assets/images/img (5).png" />
        </div>
        <div class="">
          sales@thesteel.store
        </div>
      </div>
      <div class="d-flex info justify-content-center">
        <div class="icon mr-2">
          <img src="../../../assets/images/img (7).png" />
        </div>
        <div class="">
          +13137772551
        </div>
      </div>
    </div>
    <div class="row footerlinks">
      <div class="col-md-6 mx-auto">
        <div>
          <div class="mt-5 row">
            <div class="text col-2">
              Galvanized
            </div>
            <div class="col-2 text">
              Galvanized
            </div>
            <div class="col-2 text">
              Galvanized
            </div>
            <div class="col-2 text">
              Galvanized
            </div>
            <div class="col-2 text">
              Galvanized
            </div>
            <div class="col-2 text">
              Galvanized
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mx-auto">
        <ul type="none" class="d-flex linkfot">
          <li>
            jhk
          </li>
          <li>
            jk
          </li>
          <li>
            jk
          </li>
          <li>
            jk
          </li>
          <li>
            jk
          </li>
          <li>
            jk
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between align-items-center">
            <div class="copyright">
                © 2020 www.eoxs.com. All rights reserved.
            </div>
            <div class="icons">
                <ul type="none" class="d-flex">
                    <li>
                        li
                    </li>
                    <li>
                        li
                    </li>
                    <li>
                        li
                    </li>
                    <li>
                        li
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</section>
