<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 my-2">
      <div class="text-center discounttext">
        Get <span class="font-weight-bold">$1000 Discount</span> on your first
        Order
      </div>
    </div>
  </div>
</div>

<section class="header py-3">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center m-0">
      <div class="logo">
        <img src="../../../assets/images/eoxs copy.svg" alt="" />
      </div>
      <div class="nav">
        <ul type="none" class="d-flex">
          <li>
            About
          </li>
          <li>
            Blog
          </li>
          <li>
            Products
          </li>
          <li>
            Contact Us
          </li>
        </ul>
      </div>
      <div class="signin">
            <label class=" mb-0 mr-2"> Sign In</label>
            <div class="d-inline  border"></div>
            <label class=" mb-0 ml-2">Sign Up</label>
            <button class="invetorybtn ml-3">List Inventory</button>
      </div>
    </div>
  </div>
</section>
