<section class="details-banner">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-12">
                <h3>Galvalume</h3>
                <p>Steel & Material
                </p>
            </div>
        </div>
    </div>
</section>

<section class="breadcrum py-5">

</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="w-100" src="../../../../assets/images/detailmain.png" alt="">
            </div> 
            <div class="col-md-7 p-4 ">
                <div class="px-3">
                    <div>
                        <h3>0.077" X 49 - 6240 lbs</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex align-items-center py-3 des-icon">
                                <div class="mr-3">
                                    <img src="../../../../assets/images/pin.png" />
                                </div>
                                <div>
                                    <p class="mb-0">Lot location</p>
                                    <p class="mb-0">DETROIT</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            k
                        </div>
                        <div class="col-md-4">
                            kl
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<app-contactus></app-contactus>