.About {
    font-size: 67.5px;
    font-weight: 500;
    position: absolute;
    top: 170px;
    left: 120px;
    letter-spacing: 2.7px;
    text-align: left;
    color: #1c1c1c;
    position: absolute;
}

.text {
    margin-top: 137px;
}

.text2 {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: left;
    color: #838383;
}

.text3 {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
}