.testomonial{
    background-image: url('../../../../assets/images/bgblavk.png');
    background-size: cover;
    h4{
        font-size: 22px;
    }
    .padddes
    {
        max-width: 229px;
        margin: 0 auto;
        padding: 33px;
        label{
            cursor: pointer;
        }
    }
}