<section class="testomonial pb-5 mt-5">
  <div class="container pt-5 pb-5" >
    <div class="row pt-5 mt-4 text-white">
      <div class="col-md-3" style="cursor: pointer;" (click)="showcontent1()">
        <div class="padddes">
          <label>
            The Steel Store Online Steel Marketplace of USA & Canada
          </label>
        </div>
      </div>
      <div class="col-md-3" style="cursor: pointer;" (click)="showcontent2()">
        <div class="padddes">
          <label>What Makes Us Stand Out As A Leading Steel Distributor </label>
        </div>
      </div>
      <div class="col-md-3" style="cursor: pointer;" (click)="showcontent3()">
        <div class="padddes">
          <label>USA's Top Steel Supplier & Distributor </label>
        </div>
      </div>
      <div class="col-md-3" style="cursor: pointer;" (click)="showcontent4()">
        <div class="padddes">
          <label
            >The Steel Store - The Best Steel Service Centers in USA & Canada
          </label>
        </div>
      </div>
      <div class="col-md-12 py-5 px-5 mx-3" *ngIf="showdiv1">
        <h4 class="mb-2">
          A customer-centric steel distributor committed to industry-best
          service. The Steel Store is the service leader for all types of steel
          supply throughout North America with facilities located in Canada, and
          the United States.
        </h4>
        <p>
          TSS (The Steel Store) works closely with our customers to ensure the
          most cost-effective material is being supplied. We understand the
          demands of the industry & strive to help our customers to achieve the
          lowest cost.
        </p>
        <p>
          The Steel Store provides a wide range of materials. Browse our most
          requested products like hot rolled, cold rolled and electro-
          galvanized steel materials for special projects and facility
          management. All featured products can be made to the customer's
          measurements and specifications.
        </p>
      </div>
      <div class="col-md-12 py-5 px-5 mx-3" *ngIf="showdiv2">
        jkjjkl
      </div>
      <div  class="col-md-12 py-5 px-5 mx-3" *ngIf="showdiv3">
          kjhkljkljkljkl
      </div>
      <div class="col-md-12 py-5 px-5 mx-3" *ngIf="showdiv4">
          p[p[owepo]]
      </div>
    </div>
  </div>
</section>
