.testomonial{
    background-image: url('../../../../assets/images/bgblavk.png');
    background-size: cover;
    h4{
        font-size: 22px;
    }
    .padddes
    {
        max-width: 229px;
        margin: 0 auto;
        padding: 33px;
        label{
            cursor: pointer;
        }
    }
    .bordermark{
        border: 10px solid transparent;
        border-image: url(../../../../assets/images/boder2.png) ;  
    
    
        /* height: 148px; */
        /* border-image-slice: 26; */
        border-image-slice: 63;
        border-image-width: 65px;
    }
}