<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="">
                    <img class="w-100" src="../../../assets/images/FAQs.png">
                    <div class="hederText">
                        Frequently Asked Question
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text">
            <div class="row">
                <div class="col-md-6">
                    <img class="w-100" src="../../../assets/images/FAQs-Cont.png">
                </div>

                <div class="col-md-6" *ngFor="let faq of faqlist">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{faq.title}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <b class="text1">{{faq.description}}</b><br><br>
                        <p>{{faq.descriptiondetail}} </p>
                    </mat-expansion-panel>
                </div>

            </div>
        </div>
    </div>
</section>