<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="">
                    <img class="w-100" src="../../../assets/images/FAQs.png">
                    <div class="About">
                        Frequently Asked Question
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text">
            <div class="row">
                <div class="col-md-5">
                    <img class="w-100" src="../../../assets/images/FAQs-Cont.png">
                </div>
                <div class="col-md-7">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What is TheSteelStore?
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <hr>
                        <b class="text1">What do you sell?</b><br><br>
                        <p>We sell prime, excess prime, and secondary industrial materials. Our prime material comes from the original manufacturers. We buy direct from vetted and approved global manufacturers. Our excess prime is also prime material and
                            it comes from our large “circulating” supplier base. This is material for which its current owner doesn't currently have a need but has no defects. Secondary material comes from our entire supplier base. It has some defects,
                            but some buyers will have a use for it. This material is sold "as-is", it's priced accordingly.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mt-4">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Why this website?
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <hr>
                        <b class="text1">What do you sell?</b><br><br>
                        <p>We sell prime, excess prime, and secondary industrial materials. Our prime material comes from the original manufacturers. We buy direct from vetted and approved global manufacturers. Our excess prime is also prime material and
                            it comes from our large “circulating” supplier base. This is material for which its current owner doesn't currently have a need but has no defects. Secondary material comes from our entire supplier base. It has some defects,
                            but some buyers will have a use for it. This material is sold "as-is", it's priced accordingly.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mt-4">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How do you make money?
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <hr>
                        <b class="text1">What do you sell?</b><br><br>
                        <p>We sell prime, excess prime, and secondary industrial materials. Our prime material comes from the original manufacturers. We buy direct from vetted and approved global manufacturers. Our excess prime is also prime material and
                            it comes from our large “circulating” supplier base. This is material for which its current owner doesn't currently have a need but has no defects. Secondary material comes from our entire supplier base. It has some defects,
                            but some buyers will have a use for it. This material is sold "as-is", it's priced accordingly.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mt-4">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What is TheSteelStore?
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <hr>
                        <b class="text1">What do you sell?</b><br><br>
                        <p>We sell prime, excess prime, and secondary industrial materials. Our prime material comes from the original manufacturers. We buy direct from vetted and approved global manufacturers. Our excess prime is also prime material and
                            it comes from our large “circulating” supplier base. This is material for which its current owner doesn't currently have a need but has no defects. Secondary material comes from our entire supplier base. It has some defects,
                            but some buyers will have a use for it. This material is sold "as-is", it's priced accordingly.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mt-4">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How is delivery done?
                            </mat-panel-title>

                        </mat-expansion-panel-header>

                        <hr>
                        <b class="text1">What do you sell?</b><br><br>
                        <p>We sell prime, excess prime, and secondary industrial materials. Our prime material comes from the original manufacturers. We buy direct from vetted and approved global manufacturers. Our excess prime is also prime material and
                            it comes from our large “circulating” supplier base. This is material for which its current owner doesn't currently have a need but has no defects. Secondary material comes from our entire supplier base. It has some defects,
                            but some buyers will have a use for it. This material is sold "as-is", it's priced accordingly.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="mt-4">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How is freight price calculated?
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <hr>
                        <b class="text1">What do you sell?</b><br><br>
                        <p>We sell prime, excess prime, and secondary industrial materials. Our prime material comes from the original manufacturers. We buy direct from vetted and approved global manufacturers. Our excess prime is also prime material and
                            it comes from our large “circulating” supplier base. This is material for which its current owner doesn't currently have a need but has no defects. Secondary material comes from our entire supplier base. It has some defects,
                            but some buyers will have a use for it. This material is sold "as-is", it's priced accordingly.</p>
                    </mat-expansion-panel>


                    <mat-expansion-panel class="mt-4">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Acceptable payment methods
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <hr>
                        <b class="text1">What do you sell?</b><br><br>
                        <p>We sell prime, excess prime, and secondary industrial materials. Our prime material comes from the original manufacturers. We buy direct from vetted and approved global manufacturers. Our excess prime is also prime material and
                            it comes from our large “circulating” supplier base. This is material for which its current owner doesn't currently have a need but has no defects. Secondary material comes from our entire supplier base. It has some defects,
                            but some buyers will have a use for it. This material is sold "as-is", it's priced accordingly.</p>
                    </mat-expansion-panel>


                    <mat-expansion-panel class="mt-4">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What are your terms
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <hr>
                        <b class="text1">What do you sell?</b><br><br>
                        <p>We sell prime, excess prime, and secondary industrial materials. Our prime material comes from the original manufacturers. We buy direct from vetted and approved global manufacturers. Our excess prime is also prime material and
                            it comes from our large “circulating” supplier base. This is material for which its current owner doesn't currently have a need but has no defects. Secondary material comes from our entire supplier base. It has some defects,
                            but some buyers will have a use for it. This material is sold "as-is", it's priced accordingly.</p>
                    </mat-expansion-panel>
                </div>

            </div>
        </div>
    </div>
</section>