/* You can add global styles to this file, and also import other style files */

@font-face {
      font-family: VAGRounded;
      src: url(./assets/font/VAG-Rounded-Std-Light_47298.ttf );
    }
    @font-face {
      font-family: VGARoundedThin;
      src: url(./assets/font/VAG-Rounded-Std-Thin_47299.ttf );
    }
    @font-face {
      font-family: VgaRoundedBold;
      src: url(./assets/font/VAG-Rounded-Std-Bold_47297.ttf);
    }



html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: VGARoundedThin, 
}

:focus{
  outline: none;
}

.carousel-indicators li{
  width: 12px;
  height: 12px;

  border-radius: 21px;
       border-top: unset; 
      border-bottom: unset;

}
