/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:focus{
  outline: none;
}

.carousel-indicators li{
  width: 12px;
  height: 12px;

  border-radius: 21px;
       border-top: unset; 
      border-bottom: unset;

}
